*{
    box-sizing: border-box; 
    margin: 0 auto;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body
{ 
    width: 100%;
    overflow-x: hidden;
       
}
.container-head{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100vw;
    height: 60px;
    background: rgba(51, 51, 51,0.6);
    box-shadow: 0 8px 32px 0 rgba(215, 218, 245, 0.2);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.logo>p{
    margin-left: 50px;
    font-size: 2.1rem;
    color:white;
}
.menu{
    display: flex;
    padding: 5px;
}
li{
    padding-right: 20px;
    font-size: 1.5rem;
    list-style-type: none;
}
a:link, a:visited,  a:hover, a:active
{color: #ffffff; 
    text-shadow: 0 0 15px rgba(15, 15, 15, 0.7), 0 0 10px rgba(19, 19, 19, 0.7);
    text-decoration: none;
}
/*disclaimer*/

.disclaimer{
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 80vh;
    max-width:1366px ;
    display: flex;
    text-align: center;
    align-items: center;
    padding:5%;
}

.disclaimer h1{
    font-size: 80px;
}
.disclaimer h2{
    font-size: 18px;
}
.disclaimer h1, .disclaimer h2{
    color: #ffffff; 
    text-shadow: 
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 21px rgb(0, 0, 0),
    0 0 102px rgb(0, 0, 0),
    0 0 151px rgb(0, 0, 0);
}
/*form*/

.form-send {
    font-size: 0.8rem;
    background: rgba(15, 15, 15, 0.5);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.5);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    -moz-backdrop-filter: blur( 3px );
    -o-backdrop-filter: blur( 3px );
    -ms-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    width: 320px;
    height: 400px;
    margin-top: 20px;
}

.form-send h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff; 
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(231, 231, 231, 0.5);
}

input, textarea {
    width: 80%;
    padding: 3%;
    color: black;
    margin-top: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    box-shadow: 0px 0px 8px #ffffff;
    background-color: #333333;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
}

.enviar {
    background-color: #ffffff;
    height: 12%;
    width: 25%;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid;
    color: #333333;
    font-size: 15px;
}

textarea {
    width:80%;
    height: 30%;
    line-height: 20px;
    max-width: 400px;
    font-size: 18px;
}


/*section video*/

.video-form{
    display:flex;
    height: 80vh;
    max-width:1280px ;
    justify-content: space-around;
    align-items: center;
}
.video{
    width: auto;
    height: auto;
}
.media{
    width: 640px;
    height: 360px;
    border-radius: 20px;
}
.about{
        width: 320px;
        height: 500px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 8px 32px 0 rgba(44, 44, 44, 0.5);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        -moz-backdrop-filter: blur( 10px );
        -o-backdrop-filter: blur( 10px );
        -ms-backdrop-filter: blur( 10px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 20px;
        padding: 50px ;
}
.about h2{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about p{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*Depoimento com video e texto*/
.depoiment{
    height: 90vh;
    max-width:1280px ;
    display: block;
}
.depoiment>h2{
    width: 40vw;
    text-align: center;
    color: #333333;
    font-size: 3rem;
    border-bottom: 5px solid #333333;
}
.contatUs{
    height: 300px;
    background-color: #333333;
    display: flex;
    color: #ffffff;
}

.contatUs .meios{
    display:block;
    padding: 0;
}
.meios li{
    padding: 5px;
    font-size: 15px;
}

.meios> h2{
    text-align: center;
    font-size: 25px;
    padding-top:30px ;
}
.map{
    padding-top: 25px;
    height: 35vh;
    width: 50vw;
    max-height: 255px;
    max-width: 800px;
}
.map>img{
    width: 100%;
    height: 100%;  
}

.foot{
    width: 100vw;
    height: 80px;
    background: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(215, 218, 245, 0.2);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #ffffff;
    display: flex;
}

.foot ul{
    
    font-size: 5px;
    display: flex;
}
.contact h4{
    
    padding-right: 10px;
}
.contact h4,.contact li{
    padding-top: 25px;
    font-size: 15px;
}

@media (max-width:1023px){
    .video-form{
        display: block;
        padding-top: 20px;
    }
    .video{
        text-align: center;

    }
    .media{
        width: 640px;
        height: 360px;
    }

    .depoiment .video{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about{
        width: 650px;
        height: 250px;
        padding: 20px;
    }
    .depoiment>h2{
        padding-bottom: 20px;
    }
    .form-send{
        width: 280px;
        height: 360px;
    }
    .meios >h2{
        font-size: 25px;
    }
    .meios>li{
        font-size: 15px;
    }
    .video-form{
        height: 680px;
    }
    .about{
        width: 650px;
        height: 250px;
        padding: 20px;
    }
    
    .meios h2{
        font-size: 25px;
    }
    .meios li{
        font-size: 16px;
    }
    .form-send{
        width: 280px;
        height: 360px;
    }
    .form-send >h2{
        font-size: 2rem;
    }
}

@media screen and (max-width:790px){
    .disclaimer{
        display: block;
        padding: 100px;
    }
    .form-send{
        width: 280px;
        height: 360px;
    }
    input, textarea {
        width: 80%;
        padding: 1.5%;
    }
    .enviar{
        height: 12%;
        width: 30%;

    }   
    textarea{
        width:80%;
        height: 30%;   
    }
    .media{
        width: 550px;
        height: 350px;
    }
    .about{
        width: 550px;
        height: 250px;
        padding: 20px;
    }
    .disclaimer h1{
        font-size: 70px;
    }
    .disclaimer h2{
        font-size: 15px;
    }
    .disclaimer{
        padding-top: 20px;
    }
    .map{
        width: 500px;
    }
}
@media screen and (max-width:590px){
    .container-head{
        height: 50px;
    }
    .video-form{
        margin-top: 20px;
        height: 650px;
    }
    .media{
        width: 450px;
        height: 300px;
    }
    .about{
        width: 450px;
        height: 300px;
        padding: 20px
    }
    
    .meios li{
        font-size: 15px;
    }
    .form-send{
        width: 280px;
        height: 360px;
    }
    .disclaimer{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    
    .menu{
        display: none;
    }
    .logo{
        margin: 0;
    }
    .depoiment>h2{
        font-size:30px ;
    }
}
@media screen and (max-width:480px){
    .text{
        padding-top: 50px;
    }
    .disclaimer h1{
        font-size: 60px;
    }
    .disclaimer h2{
        font-size: 15px;
    }
    .form-send{
        width: 220px;
        height: 300px;
    }

    .media{
        width: 350px;
        height: 220px;
    }
    .about{
        width: 380px;
        height: 300px;
        padding: 1px
    }
    .video-form{
        margin-top: 20px;
        height: 550px;
    }
    .depoiment>h2{
        font-size: 25px;
        padding-top: 50px;
    }
    .about{
        width: 300px;
        height: 350px;
        padding: 15px;
    }
    .contatUs{
        display: block;
    }
    .call{
        height: 150px;
        display: flex;
    }
    .meios li{
        
        padding: 0;
    }
    .meios>h2{
        padding-top: 5px;
    }
    .map{
        height: auto;
        width: 100vw;
    }
    .contatUs{
        height: 440px;
    }
    
}
@media screen and (max-width:380px){
    .media{
        width: 300px;
        height: 200px;
    }
    .contatUs{
        height: 360px;
    }
    .media{
        width: 300px;
        height: 200px;
    }.about{
        width: 300px;
        height: 280px;
        padding: 5px;
    }
    p{
        font-size: 15px;
    }
    .text{
        padding-top: 10px;
    }
}
@media screen and (max-height:670px){
    
    .media{
        width: 300px;
        height: 200px;
    }
    .disclaimer{
        height: 500px;
    }
    
    .form-send{
        width: 200px;
        height: 270px;
    }
    .text{
        padding-top: 10px;
    }
    .disclaimer h1{
        font-size: 40px;
    }
    .disclaimer h2{
        font-size: 15px;
    }
    .about{
        width: 250px;
        height: 250px;
        padding: 12px;
    }
    .about>p{
        font-size: 12px;
    }
    
    .depoimentos{
        padding: 0;
        font-size: 25px;
    }
    .video-form{
        height: 450px;
    }
    .form-send>h2{
        font-size: 20px;
    }
    input,textarea{
        font-size: 15px;
    }
    .call{
        margin-top: 22px;
    }
    .contatUs{
        height: 360px;
    }
}