*{
    box-sizing: border-box; 
    margin: 0 auto;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
}


body
{ 
    width: 100%;
    overflow-x: hidden;
    
    background-color: #F7F7F7;
}



/*disclaimer*/


.disclaimer{
    width: 100vw;
    height: 60vh;
    display: flex;
    text-align: center;
    align-items:center;
}
.disclaimer img{
    width: 600px;
    padding-top: 100px;
}
.disclaimer h1{
    font-size: 70px;
}
.disclaimer h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}
.disclaimer h1, .disclaimer h2{
    color: #000000; 
    
}
.disclaimer button{

    border: none;
    border-radius: 20px;
    height: 70px;
    width: 260px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(153, 18, 18, 1);
    color: #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.disclaimer button:hover{
    transform: scale(1.05);

}

/*Carrousel */

.serviços{
    display: block;
    text-align: center;
    max-width: 1280px;
    padding-top: 50px;
}
.serviços h2{
    padding-top: 100px;
    font-size: 3rem;
}
.cards-services{
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
.card.mb-3{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 580px;
}
.card-body{
    height: 150px;
}
.card p{
    font-size: 30px;
}

.card:hover{
    transform: scale(1.05);
    z-index: 99;
}    
.card .btn1{
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 270px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    animation: wide 2s infinite;
}
.card .btn2{
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 270px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    animation: wide2 2s infinite ;
   
}

@keyframes wide {
    0% {
        background-color: rgba(255, 255, 255, 0.05);
    }
  
    50% {
        background-color: rgba(78, 78, 78, 0.7);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.05);
    }
  }@keyframes wide2 {
    0% {
        background-color: rgba(78, 78, 78, 0.7);
    }
  
    50% {
        background-color: rgba(255, 255, 255, 0.05);
    }
    100% {
        background-color: rgba(78, 78, 78, 0.7);
    }
  }
/*section video*/

.video-form{
    display:flex;
    height: 80vh;
    max-width:1280px ;
    justify-content: space-around;
    align-items: center;
}
.video-form img{

    width: 650px;
}
.media{
    width: 1024px;
    height: 550px;
    border-radius: 20px;
}
.about{
        width: 320px;
        height: 500px;
        background-image: url(img/fundosobre.jpg);
        text-shadow: 2px 2px 4px rgb(44, 44, 44);
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 10px );
        -moz-backdrop-filter: blur( 10px );
        -o-backdrop-filter: blur( 10px );
        -ms-backdrop-filter: blur( 10px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 20px;
        padding: 50px ;
}
.about h2{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about p{
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}


/*Depoimento com video e texto*/
.depoiment{
    padding-top: 80px;
    height: 100vh;
    max-width:1280px ;
    display: block;
}
.depoiment>h2{
    width: 40vw;
    text-align: center;
    color: #333333;
    font-size: 3rem;
    margin-top: 60px;
    margin-bottom: -100px;
}



.ajuda{
    padding-top: 20px;
    height: 100vh;
    max-width:1280px ;
    display: block;
    text-align: center;
}
.ajuda h2{
    font-size: 3rem;
}
.ajuda h3{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom:10px ;
}
.ajuda li{
    padding-top: 15px;
}
.ajuda button{
    border: none;
    border-radius: 20px;
    height: 70px;
    width: 260px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(153, 18, 18, 1);
    color: #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.ajuda button:hover{
    transform: scale(1.05);
}
.foot{
    width: 100vw;
    height: 80px;
    background: rgb(0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(215, 218, 245, 0.2);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #ffffff;
    display: flex;
}

.foot ul{
    
    font-size: 5px;
    display: flex;
}
.contact li, .contact a,.contact a:visited,.contact a:active, .contact a:link{
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.contact li:hover,.contact a:hover{
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);
}
.contact h4{
    
    padding-right: 10px;
}
.contact>h4,.contact>li{
    padding-top: 25px;
    font-size: 15px;
    padding-right: 8px;
}

@media (max-height:780px){
    .text img{
        padding-top: 140px;
    }
    .depoiment{
        height: 800px;
    }
    .media{
        height: 420px;
        width: 640;
    }
    .video-form{
        margin-top: 80px;
    }
    .video-form img{

        width: 650px;
    }
}

@media (max-width:1023px){
    .video-form{
        display: block;
        padding-top: 20px;
        justify-items: center;
        text-align: center;
        height: auto;
    }
    .video{
        text-align: center;

    }
    .media{
        width: 600px;
        height: 360px;
    }

    .depoiment .video{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .video-form .about{
        width: 600px;
        height: 250px;
        padding: 20px;
    }
    .depoiment>h2{
        font-size:40px ;
    }
    .serviços>h2{
        font-size:40px;
    }
    
    .video-form{
        height: 700px;
    }
    .video-form img{
        width: 600px;
    }
    .about{
        width: 650px;
        height: 250px;
        padding: 20px;
    }

    .ajuda{
        padding-top: 2%;
        height: 500px;
    }
    

}

@media screen and (max-width:790px){
    .disclaimer{
        display: block;
        padding: 100px;
        background-image: url(img/banner2.png);
        background-size: cover;
    }.disclaimer img{
        width: 480px;
        padding-top: 10px;
    }
    .disclaimer h1{
        font-size: 50px;
    }
    .disclaimer h2{
        font-size: 20px;
    }
    .disclaimer{
        padding-top: 20px;
    }
    
    .video-form .about{
        width: 480px;
        height: 250px;
        padding: 15px;
    }
    .video-form img{
        width: 480px;
    }
    .ajuda{
     padding-top: 2%px;
        
    }
}
@media screen and (max-width:590px){
    .card.mb-3{
        width: 450px;
        height: 520px;
    }
    
    .container-head{
        height: 50px;
    }
    .video-form{
        margin-top: 20px;
        height: 650px;
    }
    .media{
        width: 450px;
        height: 300px;
    }
    .about{
        width: 450px;
        height: 300px;
        padding: 20px
    }
    
    
    .form-send{
        width: 280px;
        height: 360px;
    }
    .disclaimer{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    
    
    .depoiment>h2{
        font-size:40px ;
        padding-bottom: 80px;
    }
    .serviços>h2{
        font-size:40px;
    }
}
@media screen and (max-width:480px){
    .disclaimer{
        padding:0;
        height: 450px;
   }
    .disclaimer h1{
        font-size: 45px;
    }
    .disclaimer h2{
        font-size: 20px;
    }
    .disclaimer img{
        width: 350px;
    }
    .disclaimer button{

        height: 60px;
        width: 240px;
        font-size: 18px;
    }
    .disclaimer button:hover{
        font-size: 24px;
    }
    .media{
        width: 350px;
        height: 350px;
    }
    .video-form .about{
        width: 380px;
        height: 350px;
        padding: 25px
    }
    .video-form img{
        width: 350px;
    }
    .ajuda h2{
        font-size: 30px;
    }
    .ajuda h3{
        font-size: 20px;
    }
    .video-form{
        margin-top: 20px;
        height: 550px;
    }
    .depoiment>h2{
        font-size:35px ;
    }
    .serviços>h2{
        font-size:32px;
        padding-top: 20px;
    }
    .about{
        width: 300px;
        height: 350px;
        padding: 15px;
    }
    
    .ajuda{
        margin-top: 50px;
        height: 650px;
    }
}
@media screen and (max-width:380px){
   .disclaimer{
        padding:0;
        height: 520px;
   }
   .serviços{
    padding-top:0px;
   }
   .card.mb-3{
    height: 460px;
   }
    
    .media{
        width: 300px;
        height: 350px;
    }
    .video-form .about{
        width: 300px;
        height: 350px;
        padding: 20px;
    }
    .depoiment{
        height: 750px;
        padding-top: 20px;
    }
    .ajuda{
        height: 700px;
        padding-top: 80px;
    }
    .about p{
        font-size: 15px;
    }
    .text{
        padding-top: 10px;
    }
   
    
}
@media screen and (max-height:670px){
    
    .media{
        width: 300px;
        height: 350px;
    }
    .disclaimer{
        height: 450px;
    }
    
    .form-send{
        width: 200px;
        height: 270px;
    }
    .text{
        padding-top: 10px;
    }
    .disclaimer h1{
        font-size: 30px;
    }
    .disclaimer h2{
        font-size: 15px;
    }
    .about{
        width: 250px;
        height: 250px;
        padding: 12px;
    }
    .about>p{
        font-size: 12px;
    }
    
    .depoimentos{
        padding: 0;
        font-size: 25px;
    }
    .video-form{
        height: 750px;
    }
    
    .form-send>h2{
        font-size: 20px;
    }
    
}
